package handler

import (
{{if .WithGRPC}}{{if .WithProto}}	"{{.Module}}/proto"
{{end}}	"google.golang.org/grpc"
{{end}})

{{if .WithGRPC}}
type {{.ExportedName}}GRPC struct {
{{if .WithProto}}	proto.Unimplemented{{.ExportedName}}Server
{{end}}}
func New{{.ExportedName}}GRPC() *{{.ExportedName}}GRPC {
	return &{{.ExportedName}}GRPC{}
}

func (h *{{.ExportedName}}GRPC) Register(app *grpc.Server) {
{{if .WithProto}}	proto.Register{{.ExportedName}}Server(app, h)
{{end}}}
func (h *{{.ExportedName}}GRPC) Name() string { return "{{.Name}}.grpc" }
func (h *{{.ExportedName}}GRPC) Type() string { return "grpc" }
{{end}}
{{if .WithFiber}}
type {{.ExportedName}}HTTP struct{}

func New{{.ExportedName}}HTTP() *{{.ExportedName}}HTTP {
	return &{{.ExportedName}}HTTP{}
}

func (h *{{.ExportedName}}HTTP) Name() string { return "{{.Name}}.http" }
func (h *{{.ExportedName}}HTTP) Type() string { return "http" }
{{end}}
