package main

import (
	"github.com/go-sicky/sicky"
	"github.com/go-sicky/sicky/service/interactive"
)

type ConfigDef struct {
	Service *interactive.Config `json:"service" yaml:"service" mapstructure:"service"`
	Sicky   *sicky.Config       `json:"sicky" yaml:"sicky" mapstructure:"sicky"`
}

var config ConfigDef
