/*
 * The MIT License (MIT)
 *
 * Copyright (c) 2024 HereweTech Co.LTD
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of
 * this software and associated documentation files (the "Software"), to deal in
 * the Software without restriction, including without limitation the rights to
 * use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
 * the Software, and to permit persons to whom the Software is furnished to do so,
 * subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
 * FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
 * COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
 * IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

package main

import (
	"context"

	"{{.Module}}/handler"
	"github.com/go-sicky/sicky"
{{if or .WithFiber .WithHTTP}}	"github.com/go-sicky/sicky/server"
{{end}}{{if .WithFiber}}	srvFiber "github.com/go-sicky/sicky/server/fiber"
{{end}}{{if .WithHTTP}}	srvHTTP "github.com/go-sicky/sicky/server/http"
{{end}}	"github.com/go-sicky/sicky/service"
	mcp "github.com/go-sicky/sicky/service/mcp"
)

var (
	AppName   = "{{.AppName}}"
	Version   = "latest"
	Branch    = "main"
	Commit    = ""
	BuildTime = ""
)

func main() {
	ctx := context.Background()

{{if or .WithFiber .WithHTTP}}	sicky.Init(
		&sicky.Options{
			AppName:   AppName,
			Version:   Version,
			Branch:    Branch,
			Commit:    Commit,
			BuildTime: BuildTime,
			Context:   ctx,
		},
	)

	sicky.ConfigUnmarshal(&config)

{{if .WithFiber}}	fiberSrv := srvFiber.New(
		&server.Options{
			Name:    AppName + "@fiber",
			Context: ctx,
		},
		config.Server.Fiber,
	)
	fiberSrv.Handle(handler.New{{.ExportedName}}Fiber())

{{end}}{{if .WithHTTP}}	httpSrv := srvHTTP.New(
		&server.Options{
			Name:    AppName + "@http",
			Context: ctx,
		},
		config.Server.HTTP,
	)
	httpSrv.Handle(handler.New{{.ExportedName}}HTTP())

{{end}}	svc := mcp.New(
		&service.Options{
			Name:    AppName,
			Version: Version,
			Context: ctx,
		},
		config.Service,
	)

	svc.Servers(
{{if .WithFiber}}		fiberSrv,
{{end}}{{if .WithHTTP}}		httpSrv,
{{end}}	)
	svc.Handle(handler.New{{.ExportedName}}())

	sicky.Run(config.Sicky)
{{else}}	// Pure stdio transport: no config file, no logs on stdout.
	sicky.Init(
		&sicky.Options{
			AppName:       AppName,
			Version:       Version,
			Branch:        Branch,
			Commit:        Commit,
			BuildTime:     BuildTime,
			Context:       ctx,
			DisableConfig: true,
			Silence:       true,
		},
	)

	svc := mcp.New(
		&service.Options{
			Name:    AppName,
			Version: Version,
			Context: ctx,
		},
		config.Service,
	)

	svc.Handle(handler.New{{.ExportedName}}())

	sicky.Run(config.Sicky)
{{end}}}
